@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
#grad {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}