/* https://www.w3schools.com/css/css_grid.asp */
.layoutGrid {
    height: 100%;
    width: 100%;
    background-color:#1B1F2E;
    display: grid;
    grid-template-areas:
      "navigation navigation navigation"
      "queue content content "
      "player player player";
    grid-template-columns: max-content auto minmax(max-content, 64px);
    grid-template-rows: max-content auto minmax(max-content, 64px);
  }
  .gridNavigation {
    grid-area: navigation;
  }
  .gridQueue {
    grid-area: queue;
  }
  .gridContent {
    grid-area: content;
    top: 64px;
    height: calc(100% - 64px);
    max-height: 80vh;
    overflow-y: scroll;
    padding-top: 0 !important;
    margin-top: 64px;
    overflow-x: hidden;
  }
  .gridPlayer {
    grid-area: player
  }
